<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="../../static/product.css">
</head>
<body>

<h3>Form create</h3>

<th:block th:if="${message}">
    <span th:text="${message}"></span>
</th:block>

<form id="form" th:object="${product}" method="post" enctype="multipart/form-data">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Price</label>
        <input type="text" th:field="*{price}"/>
    </div>
    <div>
        <label>Description</label>
        <input type="text" th:field="*{description}"/>
    </div>
    <div>
        <label>Size</label>
        <input type="text" th:field="*{size}"/>
    </div>
    <div>
        <label>Image</label>
        <input type="file" th:field="*{image}">
    </div>
    <div>
        <label>Category</label> &ensp;
        <select th:field="*{category.id}">
            <th:block th:each="p: ${listCategory}">
                <option th:value="${p.id}" th:text="${p.name}"></option>
            </th:block>
        </select>
    </div>
    <br>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
<br>

<a href="/products">
    <button type="button" class="btn btn-primary">Back list product</button>
</a> <br>

</body>
</html>