<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>
<a href="categories/create-cate">Create new category</a>
<h1>Categories</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="c : ${categories}">
        <tr>
            <td th:text="${c.name}"></td>
            <td><a th:href="@{/categories/edit-cate/__${c.id}__ }">Edit</a></td>
            <td><a th:href="@{/categories/del-cate/__${c.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>