<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <th:block th:each="c : ${comment}">
        <tr>
            <td th:text="${c.user.fullName}"></td>
            <td th:text="${c.date}" colspan="2"></td>
        </tr>
        <tr>
            <td th:text="${c.comment}"></td>
            <td><a th:href="@{/categories/edit-cate/__${c.id}__ }">Edit</a></td>
            <td><a th:href="@{/categories/del-cate/__${c.id}__ }">Delete</a></td>
        </tr>


    </th:block>
</table>
</body>
</html>