<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <th:block th:each="c : ${comment}">
        <tr>
            <td th:text="${c.user.fullName}"></td>
            <td th:text="${c.date}" colspan="2"></td>
        </tr>
        <tr>
            <td th:text="${c.comment}"></td>
            <td>
                <a th:href="@{/comments/edit/{id}(id=${c.id})}">
                    <button type="button" class="btn btn-success">Edit</button>
                </a>
            </td>
            <td>
                <a th:href="@{/comments/delete/{id}(id=${c.id})}" onclick="return confirm('Do you want delete ?');">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>

    </th:block>
</table>
</body>
</html>