<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var deleteLink = $("a:contains('Delete')");
            $(deleteLink).click(function (event) {
                $.ajax({
                    url: $(event.target).attr("href"),
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");

                    },
                    success: function (comment) {
                        var respContent = "";
                        var rowToDelete = $(event.target).closest("tr");
                        rowToDelete.remove();
                        respContent += "<span class='success'>Comment was deleted: [";
                        respContent += comment.c+ " : ";
                        respContent += comment.product.name + " : ";
                        respContent += comment.user.name + " : ";
                        respContent += comment.day+ "]</span>";
                        $("#commentFromResponse").html(respContent);
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<div id="container">
    <h1>All Comment</h1>
    <a th:href="@{/comments/create}">Create</a>
<!--    <div>-->
<!--        <p>Here you can see a list of Smartphones:</p>-->
<!--        <div id="sPhoneFromResponse"></div>-->
<!--    </div>-->
    <table border="1px" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>User</th>
            <th>Product</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="c : ${allComment}">
            <tr>
                <td th:text="${c.user.fullName}"></td>
                <td th:text="${c.product.name}"></td>
                <td th:text="${c.comment}"></td>
                <td th:text="${c.date}"></td>
                <td>
                    <a th:href="@{/comments/edit/__${c.id}__}">Edit</a><br/>
                    <a th:href="@{/comments/delete/__${c.id}__}" >Delete</a><br/>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a th:href="@{/}">Home page</a>
</div>
</body>
</html>