<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Trang chủ</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/custom.css">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Start Main Top -->
<div class="main-top" th:insert="view/index :: main-top"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-header" th:insert="view/index :: main-header"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div class="top-search" th:insert="view/index :: top-search"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Cart</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Size</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ci:${cartItems}">
                                <td class="custom-checkbox">
                                    <input type="checkbox" class="custom-checkbox" name="stt" th:value="${ci.id}">
                                </td>
                                <td class="thumbnail-img">
                                    <a th:href="@{/products/detail/{id}(id=${ci.product.id})}">
                                        <img class="img-fluid" th:src="@{|/${ci.product.image}|}" alt=""/>
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a th:href="@{/products/detail/{id}(id=${ci.product.id})}"
                                       th:text="${ci.product.name}"></a>
                                </td>
                                <td class="price-pr">
                                    <p th:text="${ci.product.price}"></p>
                                </td>
                                <td class="size-pr">
                                    <!--                                    <p th:text="${ci.size}"></p>-->
                                    <input type="number" size="4" value="1" min="0" step="1"
                                           class="c-input-text qty text">
                                </td>
                                <td class="quantity-pr">
                                    <p th:text="${ci.quantity}"></p>
                                </td>
                                <td class="total-pr">
                                    <p th:text="${ci.product.price * ci.quantity}"></p>
                                </td>
                                <td class="remove-pr">
                                    <a href="#">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <th:block th:text="${mess}"></th:block>
            <!--coupon and update cart this here-->
            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <input value="Check out" type="submit">
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->
<div class="instagram-box" th:insert="view/index :: instagram-box"></div>
<!-- End Instagram Feed  -->


<!-- Start Footer  -->
<footer th:insert="view/index :: footer"></footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright" th:insert="view/index :: copyright"></div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="/js/jquery.superslides.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/inewsticker.js"></script>
<script src="/js/bootsnav.js"></script>
<script src="/js/images-loded.min.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/baguetteBox.min.js"></script>
<script src="/js/form-validator.min.js"></script>
<script src="/js/contact-form-script.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>